table{
    font-family: Montserrat, sans-serif !important;
}
h2 {
    font-family: Montserrat, sans-serif;
}
td {
    font-size: 1.2rem;
    font-weight: 600;
    vertical-align: middle !important;
}

tr:hover {
    background-color: gainsboro;
}

th {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #001529;
    color: white;
}
