.side_nav{
    min-width: 4rem !important;
    flex-basis: 12rem !important;
}
.menu{
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1rem;
    /* background-color: #71A662; */
    opacity: 0.8;
    color: #001529;    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}